@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArchiveEconomic>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    //Master page
	Layout = "Master1.cshtml";
}

<!--HTML Code Block-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Business Issues Bulletin - in English</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 1 - A Review of Constraints to SME Financing.pdf">Issue 1 - A Review of Constraints to SME Financing </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 2 - Company Registration in Cambodia.pdf">Issue 2 - Company Registration in Cambodia </a></td></tr>
                    <tr><td><a href="~/under-construction/">Issue 3 - Constraints to the Competitiveness of Cambodia's Private Sector </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 4 - The Case for Sustainable Business Practices.pdf">Issue 4 - The Case for Sustainable Business Practices </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 5 - The Garment Sector in Cambodia.pdf">Issue 5 - The Garment Sector in Cambodia </a></td></tr>
                    <tr><td><a href="~/under-construction">Issue 6 - A Summary of Cambodia's WTO Agreement </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 7 - Doing Business in 2005.pdf">Issue 7 - Doing Business in 2005 </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 8 - Making Microfinance Work for the Poor.pdf">Issue 8 - Making Microfinance Work for the Poor </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 9 - Alternative Dispute Resolution.pdf">Issue 9 - Alternative Dispute Resolution </a></td></tr>
                    <tr><td><a href="~/under-construction/">Issue 10 - Cambodia’s WTO Agreements </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 11 - Inappropriate Application of Breach of Trust.pdf">Issue 11 - Inappropriate Application of Breach of Trust </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 12 - Provincial Business Environment Scorecard.pdf">Issue 12 - Provincial Business Environment Scorecard </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 13 - Informal Charges Hinder Business Growth in Cambodia.pdf">Issue 13 - Informal Charges Hinder Business Growth in Cambodia </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 14 - Commercial Disputes and the New National Arbitration Center.pdf">Issue 14 - Commercial Disputes and the New National Arbitration Center </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 15 - Tourism Law in Cambodia.pdf">Issue 15 - Tourism Law in Cambodia </a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Issue 16 - Strengthening the Financial Sector in Cambodia.pdf">Issue 16 - Strengthening the Financial Sector in Cambodia </a></td></tr>
                </tbody>
            </table>


            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Economics Today Magazine </th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Economics Today - No. 33.pdf">Economics Today - No. 33 - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Economics Today - No. 32.pdf">Economics Today - No. 32 - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Economics Today - No. 26.pdf">Economics Today - No. 26 - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Economics Today - No. 25.pdf">Economics Today - No. 25 - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Economics Today - No. 09.pdf">Economics Today - No. 09 - in Khmer</a></td></tr>
                </tbody>
            </table>
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Flash Reports - in Khmer + English</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Feb.pdf">February 2009</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Jan.pdf">January 2009</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Dec.pdf">December 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Nov.pdf">November 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Oct.pdf">October 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Sep.pdf">September 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Aug.pdf">August 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Jul.pdf">July 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Jun.pdf">June 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/May.pdf">May 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Apr.pdf">April 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Mar.pdf">March 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Feb (1).pdf">February 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Jan (1).pdf">January 2008</a></td></tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-6">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Cambodia Development Review - in English</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/under-construction/">Cambodia Development Review - Sep 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Jun 2008.pdf">Cambodia Development Review - Jun 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Mar 2008.pdf">Cambodia Development Review - Mar 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Dec 2007.pdf">Cambodia Development Review - Dec 2007</a></td></tr>
                    <tr><td><a href="~/under-construction/">Cambodia Development Review - Sep 2007</a></td></tr><!--Lack of resuorces-->
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Jun 2007.pdf">Cambodia Development Review - Jun 2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Mar 2007.pdf">Cambodia Development Review - Mar 2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Dec 2006.pdf">Cambodia Development Review - Dec 2006</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Sep 2006.pdf">Cambodia Development Review - Sep 2006</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Jun 2006.pdf">Cambodia Development Review - Jun 2006</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Development Review - Mar 2006.pdf">Cambodia Development Review - Mar 2006</a></td></tr>
                </tbody>
            </table>

            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Year in Review - in English</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Annual Development Review 2007-2008.pdf">Annual Development Review 2007-2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Annual Development Review 2006-2007.pdf">Annual Development Review 2006-2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Annual Development Review 2004-2005.pdf">Annual Development Review 2004-2005</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/CDRI Annual Report 2007-2008.pdf">CDRI Annual Report 2007-2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/CDRI Annual Report 2006-2007.pdf">CDRI Annual Report 2006-2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/CDRI Annual Report 2005-2006.pdf">CDRI Annual Report 2005-2006</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/CDRI Annual Report 2004-2005.pdf">CDRI Annual Report 2004-2005</a></td></tr>
                </tbody>
            </table>

            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">World - in English</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Asian Development Outlook 2008 - Update.pdf">Asian Development Outlook 2008 - Update</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Asian Development Outlook 2008.pdf">Asian Development Outlook 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Doing Business 2009.pdf">Doing Business 2009</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Global Economic Prospect 2009.pdf">Global Economic Prospect 2009</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/World Development Report 2009.pdf">World Development Report 2009</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/IFC Annual Report 2008.pdf">IFC Annual Report 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Telling Our Story 2008.pdf">Telling Our Story 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/The Growth Report 2008.pdf">The Growth Report 2008</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Who Cares Win Initiative 2008.pdf">Who Cares Win Initiative 2008</a></td></tr>
                </tbody>
            </table>

            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">World - in English</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Beer Industry in Cambodia.pdf">Beer Industry in Cambodia</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Economic Watch - Oct 2007.pdf">Cambodia Economic Watch - Oct 2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Cambodia Economic Watch - April 2007.pdf">Cambodia Economic Watch - April 2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Country Assistance Strategy Progress Report 2005-08.pdf">Country Assistance Strategy Progress Report 2005-08</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Donors in Disarray.pdf">Donors in Disarray</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Early Harvest Program - Implications for Cambodian Agiculture.pdf">Early Harvest Program - Implications for Cambodian Agiculture</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/EIC Economic Review April 2007.pdf">EIC Economic Review, April 2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Export Diversification and Value Addition.pdf">Export Diversification and Value Addition</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Financial Sector Development Strategy.pdf">Financial Sector Development Strategy</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Focus on Cambodias High Value Forests.pdf">Focus on Cambodia's High Value Forests</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Government Finance Statistics Jun 2007.pdf">Government Finance Statistics Jun 2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/Impact of High Food Price in Cambodia.pdf">Impact of High Food Price in Cambodia</a></td></tr>
                    <tr><td><a href="~/under-construction/">Understand Trade, Development, and Poverty Reduction</a></td></tr><!--Lack of resuorces-->
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Economic/MOEF Macroframework 1993-2015.xls">MOEF Macroframework 1993-2015</a></td></tr>
                </tbody>
            </table>


        </div>
    </div>
</div>