@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArchiveLeaflet>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    //Master page
	Layout = "Master1.cshtml";
}

<!--HTML Code Block-->
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/GPA.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/GPA-S.png" class="img-thumbnail" />
                <p>Personal Accident Insurance</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BHP.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BHP-S.png" class="img-thumbnail" />
                <p>Fig Tree Blue</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/HNS.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/HNS-S.png" class="img-thumbnail" />
                <p>Hospital and Surgical Insurance</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/VPC.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/VPC-S.png" class="img-thumbnail" />
                <p>Automobile Insurance</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/FIR.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/FIR-S.png" class="img-thumbnail" />
                <p>Fire Insurance</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/MCG.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/MCG-S.png" class="img-thumbnail" />
                <p>Marine Insurance</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/TRP.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/TRP-S.png" class="img-thumbnail" />
                <p>Multi Trip Insurance</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/TRV.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/TRV-S.png" class="img-thumbnail" />
                <p>Traveller's Insurance</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form F&B English.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB_Application_Form_F_B_English.png" class="img-thumbnail" />
                <p>BB Application Form F & B English</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form F&B Khmer.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB_Application Form_F B Khmer.png" class="img-thumbnail" />
                <p>BB Application Form F & B Khmer</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Retails English.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Retails English (1).png" class="img-thumbnail" />
                <p>BB Application Form Retails English</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Retails Khmer.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Retails English.png" class="img-thumbnail" />
                <p>BB Application Form Retails Khmer</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Services English.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Services English.png" class="img-thumbnail" />
                <p>BB Application Form Services English</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Services Khmer.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Application Form Services khmer.png" class="img-thumbnail" />
                <p>BB Application Form Services Khmer</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Jacket English.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Jacket English.png" class="img-thumbnail" />
                <p>BB Jacket English</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Jacket Khmer .pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Jacket khmer.png" class="img-thumbnail" />
                <p>BB Jacket Khmer</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet F&B English.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet F B English.png" class="img-thumbnail" />
                <p>BB Leaflet F&B English</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet F&B Khmer.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet F B khmer.png" class="img-thumbnail" />
                <p>BB Leaflet F&B Khmer</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Retails English.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Retails English.png" class="img-thumbnail" />
                <p>BB Leaflet Retails English</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Retails Khmer.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Retails khmer.png" class="img-thumbnail" />
                <p>BB Leaflet Retails Khmer</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Services English.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Services English.png" class="img-thumbnail" />
                <p>BB Leaflet Services English</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="container" style="border:1px solid #e4e4e4; margin-bottom:10px; padding:10px 10px 0px 10px">
            <a href="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Services Khmer.pdf" target="_blank">
                <img src="~/Download_Resources/ARCHIVE/LeafFlet/BB Leaflet Services khmer.png" class="img-thumbnail" />
                <p>BB Leaflet Services Khmer</p>
            </a>
        </div>
    </div>
</div>