@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArchiveClaimFormAndProcedure>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    //Master page 
	Layout = "Master1.cshtml";
}
<div class="row">
    <div class="col-sm-4">
        <table class="table table-sm">
            <thead class="bg-danger text-white">
                <tr><th scope="col">Claims Form</th></tr>
            </thead>
            <tbody>
                <tr><td>English-Khmer Version </td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Combined Claims Form (Eng-Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">HNS Claims Form (Eng-Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">HNS Claims Form _Eng-Kh_ New. Part II</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Motor Claims Form (Eng-Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">PA Claims Form (Eng-Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Student PA Claims Form (Eng-Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">StudentProtect Claims Form</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Traveller Claims Form (Eng-Kh)</a></td></tr>

                <tr><td>English-Chinese Version</td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Combined Claims Form (Eng-Ch)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">HNS Claims Form (Eng-Ch)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Motor Claims Form (Eng-Ch)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">PA Claims form (Eng-Ch)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Student Claims Form (Eng-Ch)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Traveller Claims Form (Eng-Ch)</a></td></tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4">
        <table class="table table-sm">
            <thead class="bg-danger text-white">
                <tr><th scope="col">Other Forms</th></tr>
            </thead>
            <tbody>
                
                <tr><td>Accident Report</td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Accident Report Form</a></td></tr>

                <tr><td>Medical Certificate</td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Certificat Medical</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Medical Certificate</a></td></tr>

                <tr><td>Letter of Claims </td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Letter of Claims</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Letter of Claims for Marine (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Letter of Claims for Marine (Kh)</a></td></tr>

                <tr><td>Medical Detail </td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Medical Detail</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Medical Detail Eglish</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Medical Detail Khmer</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Medical Detail Chinese</a></td></tr>

                <tr><td>Scence Report Sheet </td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Scence Report Sheet</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Scene Report Sheet</a></td></tr>

                <tr><td>Scence Report Sheet </td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Witness Report Form (Eng & Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Witness Report Form Auto</a></td></tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4">
        <table class="table table-sm">
            <thead class="bg-danger text-white">
                <tr><th scope="col">Claims Procedure</th></tr>
            </thead>
            <tbody>
                <tr><td>English Version </td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Burglary Claims Procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">GPA Claims Procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">HNS Claims Procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">HNS Claims Procedure _Eng_ update</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Marine Claims procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Motor Claims procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">PUL Claims Procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Student PA Claims Procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Travel Claims Procedure (Eng)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Other Classes Claims Procedure (Eng)</a></td></tr>

                <tr><td>Khmer Version</td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">GPA Claims Procedure (Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">HNS Claims Procedure (Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Marine Claims Procedure (Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Motor Claims Procedure (Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">PUL Claims Procedure (Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Student PA Claims Procedure (Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Travel Claims Procedure (Kh)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Other Classes claims Procedure (Kh)</a></td></tr>
                <tr><td>Chinese Version </td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">GPA Claims Procedure (C)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">HNS Cliams Procedure (C)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Marine Cliams Procedure (C)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Motor Cliams Procedure (Ch)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">PUL Claims Procedure (C)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Student PA Claims procedure (C)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Travel Claims procedure (C)</a></td></tr>
                <tr><td><a href="~/Download_Resources/ARCHIVE/ClaimsFormAndProcedure/">Other Classes Cliams Procedure (C)</a></td></tr>
            </tbody>
        </table>
    </div>

</div>