@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArchiveStatistic>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    //Master page
	Layout = "Master1.cshtml";
}

<!--HTML Code Block-->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">RTAVIS 2008</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Dec.pdf">December</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Nov.pdf">November</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Oct.pdf">October</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Sep.pdf">September</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Aug.pdf">August</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Jul.pdf">July</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Jun.pdf">June</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/May.pdf">May</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Apr.pdf">April</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Mar.pdf">March</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Feb.pdf">February</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2008/Jan.pdf">January</a></td></tr>
                </tbody>
            </table>        
        </div>
        <div class="col-sm-3">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">RTAVIS 2007</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Dec.pdf">December</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Nov.pdf">November</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Oct.pdf">October</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Sep.pdf">September</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Aug.pdf">August</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Jul.pdf">July</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Jun.pdf">June</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/May.pdf">May</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Apr.pdf">April</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Mar.pdf">March</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Feb.pdf">February</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2007/Jan.pdf">January</a></td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">RTAVIS 2006</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/12 - Dec.pdf">December</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/11 - Nov.pdf">November</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/10 - Oct.pdf">October</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/9 - Sep.pdf">September</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/8 - Aug.pdf">August</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/7 - Jul.pdf">July</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/6 - Jun.pdf">June</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/5 - May.pdf">May</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/4 - Apr.pdf">April</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/3 - Mar.pdf">March</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/2 - Feb.pdf">February</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/2006/1 - Jan.pdf">January</a></td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Annual Report</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/Annual Report 2007.pdf">Annual Report 2007</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/Annual Report 2006.pdf">Annual Report 2006</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/Annual Report 2005.pdf">Annual Report 2005</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Statistic/Annual Report 2004.pdf">Annual Report 2004</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>