@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArchiveLaw>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    //Master page
	Layout = "Master1.cshtml";
}

<!--HTML Code Block-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Bi-weekly Law Update</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Bi-Weely Laws Update-Interim Update.pdf">Bi-Weely Laws Update-Interim Update - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Yearly  Law Update For 2008.pdf">Yearly Law Update For 2008 - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Insurance Laws & Regulations Compilation.pdf">Insurance Laws & Regulations Compilation - in English</a></td></tr>
                </tbody>
            </table>
            

            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Insurance </th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/General Rule for Insurance Accounting.pdf">General Rule for Insurance Accounting - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Insurance Corporate Governance - English.pdf">Insurance Corporate Governance - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Insurance Corporate Governance - Khmer.pdf">Insurance Corporate Governance - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Insurance Law.pdf">Insurance Law - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Prakas_on_Contractors_All_Risk_Liability.pdf">Prakas on Contractors All Risk Liability - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Prakas_on_Insurance_for_Passenger_Liability.pdf">Prakas on Insurance for Passenger Liability - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Prakas_on_Third_Party_Liability_Insurance.pdf">Prakas on Third Party Liability Insurance - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Sub-Decree on Insurance.pdf">Sub-Decree on Insurance - in English</a></td></tr>
                </tbody>
            </table>
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Legal Research </th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Contract Presentation.pdf">Law on Contract Presentation - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Traffic Presentation.pdf">Law on Traffic Presentation - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Legal Research on Law & Insurance.pdf">Legal Research on Law & Insurance - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/GPA Vs NSSF.pdf">GPA Vs NSSF - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/NSSF-Edited.pdf">NSSF-Edited - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/The Rule of Evidence.pdf">The Rule of Evidence - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Presentation on the  Rule of Evidence.pdf">Presentation on the Rule of Evidence - in English</a></td></tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-6">
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Business Law </th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Cambodia Pocket Tax Book 2008.pdf">Cambodia Pocket Tax Book 2008 - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Commercial_Arbitration_Law.pdf">Commercial_Arbitration_Law - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Insolvency Law passed by NA Oct 16-07-English.pdf">Insolvency Law passed by NA Oct 16-07 - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Investment Law.pdf">Investment Law - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Commercial Arbitration 2006_kh.pdf">Law on Commercial Arbitration 2006 - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Commercial Enterprises In English.pdf">Law on Commercial Enterprises - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Commercial Enterprises_khmer.pdf">Law on Commercial Enterprises - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Copyrights and related rights.pdf">Law on Copyrights and related rights - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Insovency.pdf">Law on Insolvency - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Patent and industrial design.pdf">Law on Patent and industrial design - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on secured transaction.pdf">Law on secured transaction - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Secured Transaction in Khmer.pdf">Law on Secured Transaction - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Tax Law.pdf">Tax Law - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Tax law amendment.pdf">Tax law amendment - in Khmer</a></td></tr>
                </tbody>
            </table>

            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Civil Code</th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Degree-law 38.pdf">Degree-law 38 - in English</a></td></tr>
                    <tr><td><a href="~/Views/UnderConstruction.cshtml">Draft Civil Code - in Khmer</a></td></tr><!--Lack of resuorces-->
                </tbody>
            </table>
            
            <table class="table table-sm">
                <thead class="bg-danger text-white">
                    <tr><th scope="col">Criminal Code </th></tr>
                </thead>
                <tbody>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Code of Criminal Procedure Khmer-English Translation 1st Electronic Edition with Cover.pdf">Code of Criminal Procedure - in Khmer + English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Law on Land Traffic.pdf">Law on Land Traffic - in Khmer</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/Traffic_law_eng.pdf">Traffic law - in English</a></td></tr>
                    <tr><td><a href="~/Download_Resources/ARCHIVE/UNTAC LAW 1992.pdf">UNTAC LAW 1992 - in English</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>