@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarBookingEntry>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Intranet.ModelCollection;
@{
    Layout = "CarBooking.cshtml";

}

@{ 
    //Define tatabase name
    var dbName = "FIHRDBPath";
    //PetaPoco open database connection
    var mydb = new PetaPoco.Database(dbName);
    //Sql select query
    var sqlQueryDepartment = "SELECT * FROM Departments";
    //Define table name
    var tblCarBooking = "tblCarBookingTesting";
    //Sql execute query
    var listDepartment = mydb.Query<fi_department>(sqlQueryDepartment);
}

@*Insert new object to Table Car Booking*@
@{ 
    if (IsPost) {
        if (Request.Form["submitBooking"] == "submitBooking")
        {
            // Create Carbooking object and assign value for insert to Database
            var objCarBooing = new fi_CarBooking();
            objCarBooing.AppointmentDate = Request.Form["CarBookingAppointment"];
            objCarBooing.Time = Request.Form["CarBookingTime"];
            objCarBooing.BookerName = Request.Form["CarBookingBooker"];
            objCarBooing.Department = Request.Form["CarBookingDepartment"];
            objCarBooing.BookingDate = Request.Form["CarBookingBookingDate"];
            objCarBooing.ETD = Request.Form["CarBookingEstimateDepartTime"];
            objCarBooing.ETA = Request.Form["CarBookingEstimateArrivalTime"];
            objCarBooing.Car = Request.Form["CarBookingcarmodel"];
            objCarBooing.Destination = Request.Form["CarBookingDestination"];
            objCarBooing.Reason = Request.Form["CarBookingReason"];
            objCarBooing.Status = "A";
            //Insert into database using petapoco
            mydb.Insert(String.Format("{0}", tblCarBooking) , "No", true, objCarBooing);
            Response.Redirect("~/car-booking-update/");
        }
    }
}

<form action="#" method="post">
    <div class="container card shadow">
        <div class="card-body">
            <div>
                <div class="text-center">
                    <h5 class="text-danger">Fill in information for CAR BOOKING SYSTEM</h5>
                </div>
                
                <hr />
            </div>
            <div class="form-group row" style="padding-top:10px">
                <label for="Booker" class="col-sm-3 col-form-label">Booker</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="CarBookingBooker" placeholder="Enter booker name">
                </div>
            </div>
            <div class="form-group row">
                <label for="Model" class="col-sm-3 col-form-label">Car model</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="CarBookingcarmodel" placeholder="Enter car model">
                </div>
            </div>

            <div class="form-group row">
                <label for="Model" class="col-sm-3 col-form-label">Departments</label>
                <div class="col-sm-9">
                    <select name="CarBookingDepartment" class="custom-select">
                        <option value="default" selected>Choose departments</option>
                        @foreach (var dData in listDepartment)
                        {
                            <option value="@dData.ID">@dData.DeptName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="ApointmentDate" class="col-sm-3 col-form-label">Apointment Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="CarBookingAppointment" placeholder="Select apointment date">
                </div>
            </div>
            <div class="form-group row">
                <label for="Time" class="col-sm-3 col-form-label">Time</label>
                <div class="col-sm-9">
                    <select name="CarbookingTime" class="custom-select">
                        <option value="default">Choose aviable time</option>
                        <option value="am">AM</option>
                        <option value="pm">PM</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="BookingDate" class="col-sm-3 col-form-label">Booking Date</label>
                <div class="col-sm-9">
                    <input type="date" class="form-control" name="CarBookingBookingDate" placeholder="Select booking date">
                </div>
            </div>

            <div class="form-group row">
                <label for="EstimateDepartTime" class="col-sm-3 col-form-label">Estiamte depart time</label>
                <div class="col-sm-9">
                    <input type="time" class="form-control" name="CarBookingEstimateDepartTime" placeholder="Select estimate depart time">
                </div>
            </div>

            <div class="form-group row">
                <label for="EstimateArrivalTime" class="col-sm-3 col-form-label">Estiamte arrival time</label>
                <div class="col-sm-9">
                    <input type="time" class="form-control" name="CarBookingEstimateArrivalTime" placeholder="Select estimate arrival time">
                </div>
            </div>
            <div class="form-group row">
                <label for="Destination" class="col-sm-3 col-form-label">Destination</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="CarBookingDestination" placeholder="Destination">
                </div>
            </div>
            <div class="form-group row">
                <label for="Reason" class="col-sm-3 col-form-label">Reason</label>
                <div class="col-sm-9">
                    <textarea type="text" class="form-control" name="CarBookingReason" placeholder="Type some reason..."></textarea>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-outline-danger" style="padding: 6px 20px 6px 20px" type="submit" name="submitBooking" value="submitBooking">Book Now</button>
            </div>
        </div>
    </div>
</form>