@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ErrorPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    //Master page
	Layout = "Master1.cshtml";
}

<div class="container">
    <div class="container-fluid" style="text-align:center; background-color :rgba(212,25,69,0.9); height:410px;">
        <h2 style="color:white; padding-top:15%; font-weight:bold; font-size:50px">ERROR 404</h2>
        <hr />
        <p style="color:white">SORRY PAGE ISN'T FOUND FOR ONE OF THE REFORMES.</p>
    </div>
</div>