@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ForteBranch>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master1.cshtml";
}
@{ 
    
}

<div class="card">
    <div class="card-header text-danger">
        PHNOM PENH HEADQUARTERS
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 container">
                <img src="~/Image/Branch/PHNOM PENH HEADQUARTERS.jpg" style="width:390px; padding-top:7px" />
            </div>
            <div class="col-sm-6">
                <p>
                    Situated over 1,500 square meters of land, our office in Phnom Penh incorporates overflow capacity for
                    the organization's continued expansion in the years to come.
                </p>
                <ul style="list-style-type:circle">
                    <li>Vattanac Capital, Level 18, No.66 Monivong Blvd, Sangkat Wat Phnom, Khan Daun Penh, Phnom Penh City, Kingdom of Cambodia.</li>
                    <li>
                        <p>Tel: (+855) 23 885 077 / 066</p>
                    </li>
                    <li>
                        <p>Fax: (+855) 23 986 922 / 882 798</p>
                    </li>
                    <li>
                        <p>Email: info@forteinsurance.com</p>
                    </li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.6967594096564!2d104.91707591534434!3d11.573582791783625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31095143a6132db1%3A0xdf9a71f93566c7f7!2sForte+Insurance+(Cambodia)+Plc!5e0!3m2!1sen!2skh!4v1532397974371" width="820" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>  
    </div>
</div>

<br />
<div class="card">
    <div class="card-header text-danger">
         PHNOM PENH HEADQUARTER MAO TSENG TONG
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 container">
                <img src="~/Image/Branch/Phnom Penh Headquarters01.jpg" style="width:390px; padding-top:7px" />
            </div>
            <div class="col-sm-6">
                <p>
                    In Jan 2002, our second office was set up in Siem Reap. This strategically enables us to provide insurance services and to more
                    effectively service clients situated in the north-west region of Cambodia.
                </p>
                <ul style="list-style-type:circle">
                    <li>Mondul Stat Chas, Sangkat Svaydangkum, Krong Siem Reap, Siem Reap Province.</li>
                    <li>
                        <p>Tel: (+855) 063 963 355</p>
                    </li>
                    <li>
                        <p>Fax: (+855) 063 963 610</p>
                    </li>
                    <li>
                        <p>Email: srp@forteinsurance.com</p>
                    </li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.861304705697!2d104.89892621534423!3d11.561798991791544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3109510dcddae737%3A0xcb5e2a345a3ac674!2sForte+Insurance!5e0!3m2!1sen!2skh!4v1532399284982" width="820" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<br />
<div class="card">
    <div class="card-header text-danger">
        SIEM REAP BRANCH
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 container">
                <img src="~/Image/Branch/siem-reap-branch.jpg" style="width:390px; padding-top:7px" />
            </div>
            <div class="col-sm-6">
                <p>
                    In Jan 2002, our second office was set up in Siem Reap. This strategically enables us to provide insurance services and to more 
                    effectively service clients situated in the north-west region of Cambodia.
                </p>
                <ul style="list-style-type:circle">
                    <li>Mondul Stat Chas, Sangkat Svaydangkum, Krong Siem Reap, Siem Reap Province.</li>
                    <li>
                        <p>Tel: (+855) 063 963 355</p>
                    </li>
                    <li>
                        <p>Fax: (+855) 063 963 610</p>
                    </li>
                    <li>
                        <p>Email: srp@forteinsurance.com</p>
                    </li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3881.7213296120576!2d103.85807541519335!3d13.367596109681005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3110170cc26f6b3f%3A0xaeab1531edf8cdc3!2sForte+Insurance!5e0!3m2!1sen!2skh!4v1532400654489" width="820" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
         </div>
    </div>
</div>

<br />
<div class="card">
    <div class="card-header text-danger">
        BATTAMBANG BRANCH
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 container">
                <img src="~/Image/Branch/batambang-branch.jpg" style="width:390px; padding-top:7px" />
            </div>
            <div class="col-sm-6">
                <p>
                    The Battambang branch was recently opened in June 2011. This provides our clients with easy and quick access in the event of injuries or claims.
                    Plan of expanding this branch is underway. In the years to come, Forte Insurance hopes to expand our service throughout the various regions.
                </p>
                <ul style="list-style-type:circle">
                    <li>#26, National Road No 5, Sangkat Ratanak, Krong Battambang, Battambang Province.</li>
                    <li>
                        <p>Tel: 855 (053) 73 16 17</p>
                    </li>
                    <li>
                        <p>Fax: 855 (053) 73 17 00</p>
                    </li>
                    <li>
                        <p>Email: bbp@forteinsurance.com</p>
                    </li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.978052577493!2d103.20482081535653!3d13.100576890771325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3105498f835aa219%3A0xdca9e717840dc185!2sForte+Insurance+(Cambodia)+Plc.%2C+Battambang+Branch!5e0!3m2!1sen!2skh!4v1532401950885" width="820" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>


<br />
<div class="card">
    <div class="card-header text-danger">
        KAMPONG CHAM BRANCH
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 container">
                <img src="~/Image/Branch/kom-pong-cham-branch.jpg" style="width:390px; padding-top:7px" />
            </div>
            <div class="col-sm-6">
                <p>
                    The Kampong Cham branch was recently opened in May 2013. This provides our clients with easy and quick access in the event 
                    of injuries or claims in the east region of Cambodia.
                </p>
                <ul style="list-style-type:circle">
                    <li># 8, St. Soramarith, Group 9, Phum 3, Sangkat Veal Vong, Krong Kampong Cham.</li>
                    <li>
                        <p>Tel: +855 42 210 167</p>
                    </li>
                    <li>
                        <p>Fax: +855 42 210 157</p>
                    </li>
                    <li>
                        <p>Email: soklen@forteinsurance.com</p>
                    </li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.801598738627!2d105.46003811518614!3d11.988226038933437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310c6a645aec719d%3A0xbd385d5c2076c6c5!2sForte+Insurance!5e0!3m2!1sen!2skh!4v1532402551143" width="820" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<br />
<div class="card">
    <div class="card-header text-danger">
        PREAH SIHANOUK BRANCH
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 container">
                <img src="~/Image/Branch/preah-sihanouk-branch.jpg" style="width:390px; padding-top:7px" />
            </div>
            <div class="col-sm-6">
                <p>
                    The branch at Sihanoukville was newly opened on 5th September 2014. This provides our clients with easy and quick access in the 
                    event of injuries or claims in the north east region of Cambodia. We build confidence for you in this beautiful area of nature and enjoy your trip.
                </p>
                <ul style="list-style-type:circle">
                    <li># 35, Group 4, Sangkat 2, Preah Sihanouk Ville, Preah Sihanouk Province (Old theater area).</li>
                    <li>
                        <p>Tel: +855 34 934 955</p>
                    </li>
                    <li>
                        <p>Fax: +855 34 934 956</p>
                    </li>
                    <li>
                        <p>Email: shv@forteinsurance.com</p>
                    </li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3921.415411048295!2d103.5243568473959!3d10.62480068503347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3107e1c6f1c69cdb%3A0x48f68bd26cab8903!2sForte+Insurance+(Cambodia)+Plc!5e0!3m2!1sen!2skh!4v1532403165716" width="820" height="270" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr />


