@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LeavePlanApplicationWelcome>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    //This page extended from LeavePlanApplication Page of Umbraco Project
	Layout = "LeavePlanApplication.cshtml";
}


<!--HTML Code Block-->
<div class="container">
    <div class="container-fluid" style="text-align:center; background-color :rgb(212,25,69); height:410px;">
        <h2 style="color:#ffd600; padding-top:15%; font-weight:bold; font-size:50px">LEAVE PLAN</h2>
        <hr />
        <p id="UserLogin"></p>
        <p class="font-weight-bold" style="color:#ffd600">LEAVE PLAN OPERATION SYSTEM FOR </p>
        <hr style="width:30%" />
        <p class="text-white font-weight-bold"> Forte Insurance Plc</p>
    </div>
</div>