@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProblemDiscussion>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master2.cshtml";

      ///////////////////////////////////
     // This page is under Developing //
    ///////////////////////////////////
}

<div class="container">
    <h5>Here we are!</h5>
</div>Forte Insurance (Cambodia) Plc