@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.UnderConstruction>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master1.cshtml";
}

<div class="container">
    <div class="container-fluid" style="text-align:center; background-color :rgb(212,25,69); height:410px;">
        <h2 style="color:#ffd600; padding-top:15%; font-weight:bold; font-size:50px">UNDER CONSTRUCTION</h2>
        <hr />
        <p style="color:#ffd600">SORRY PAGE IS UNDER CONSTRUCTIONS.</p>
    </div>
</div>