<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT leavePlaneOnLeaveTomorrow ANY>
<!ATTLIST leavePlaneOnLeaveTomorrow id ID #REQUIRED>
<!ELEMENT leavePlanOnLeaveToday ANY>
<!ATTLIST leavePlanOnLeaveToday id ID #REQUIRED>
<!ELEMENT leavePlanStaffPlanByDateList ANY>
<!ATTLIST leavePlanStaffPlanByDateList id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT department ANY>
<!ATTLIST department id ID #REQUIRED>
<!ELEMENT application ANY>
<!ATTLIST application id ID #REQUIRED>
<!ELEMENT master1 ANY>
<!ATTLIST master1 id ID #REQUIRED>
<!ELEMENT staffDetailInfo ANY>
<!ATTLIST staffDetailInfo id ID #REQUIRED>
<!ELEMENT staffContactList ANY>
<!ATTLIST staffContactList id ID #REQUIRED>
<!ELEMENT updateStaffInfo ANY>
<!ATTLIST updateStaffInfo id ID #REQUIRED>
<!ELEMENT calendar ANY>
<!ATTLIST calendar id ID #REQUIRED>
<!ELEMENT errorPage ANY>
<!ATTLIST errorPage id ID #REQUIRED>
<!ELEMENT helpDesk ANY>
<!ATTLIST helpDesk id ID #REQUIRED>
<!ELEMENT underConstruction ANY>
<!ATTLIST underConstruction id ID #REQUIRED>
<!ELEMENT forteBranch ANY>
<!ATTLIST forteBranch id ID #REQUIRED>
<!ELEMENT newsAndEvents ANY>
<!ATTLIST newsAndEvents id ID #REQUIRED>
<!ELEMENT archiveLaw ANY>
<!ATTLIST archiveLaw id ID #REQUIRED>
<!ELEMENT archiveEconomic ANY>
<!ATTLIST archiveEconomic id ID #REQUIRED>
<!ELEMENT archiveStatistic ANY>
<!ATTLIST archiveStatistic id ID #REQUIRED>
<!ELEMENT archiveLeaflet ANY>
<!ATTLIST archiveLeaflet id ID #REQUIRED>
<!ELEMENT archiveClaimFormAndProcedure ANY>
<!ATTLIST archiveClaimFormAndProcedure id ID #REQUIRED>
<!ELEMENT master2 ANY>
<!ATTLIST master2 id ID #REQUIRED>
<!ELEMENT problemDiscussion ANY>
<!ATTLIST problemDiscussion id ID #REQUIRED>
<!ELEMENT carBooking ANY>
<!ATTLIST carBooking id ID #REQUIRED>
<!ELEMENT carBookingEntry ANY>
<!ATTLIST carBookingEntry id ID #REQUIRED>
<!ELEMENT carBookingLogin ANY>
<!ATTLIST carBookingLogin id ID #REQUIRED>
<!ELEMENT carBookingUpdate ANY>
<!ATTLIST carBookingUpdate id ID #REQUIRED>
<!ELEMENT carBookingMonthlyList ANY>
<!ATTLIST carBookingMonthlyList id ID #REQUIRED>
<!ELEMENT carBookingOnActive ANY>
<!ATTLIST carBookingOnActive id ID #REQUIRED>
<!ELEMENT carBookingWelcome ANY>
<!ATTLIST carBookingWelcome id ID #REQUIRED>
<!ELEMENT carBookingUpdateDetail ANY>
<!ATTLIST carBookingUpdateDetail id ID #REQUIRED>
<!ELEMENT leavePlanApplication ANY>
<!ATTLIST leavePlanApplication id ID #REQUIRED>
<!ELEMENT leavePlanLogin ANY>
<!ATTLIST leavePlanLogin id ID #REQUIRED>
<!ELEMENT leavePlanPublicHolidayList ANY>
<!ATTLIST leavePlanPublicHolidayList id ID #REQUIRED>
<!ELEMENT leavePlanApplicationWelcome ANY>
<!ATTLIST leavePlanApplicationWelcome id ID #REQUIRED>
<!ELEMENT leavePlanListing ANY>
<!ATTLIST leavePlanListing id ID #REQUIRED>
]>
<root id="-1">
  <home id="1068" key="756b7f76-7e83-4aa2-8dbd-e27b7dd30d68" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-19T13:34:20" updateDate="2018-07-20T10:38:48" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1063" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1062" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Welcome to Forte Insurance]]></pageTitle>
  </home>
  <staffContactList id="1085" key="905c6c98-b843-4cc6-b105-7bd6198eb6e8" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-07-20T13:41:13" updateDate="2018-07-20T13:41:13" nodeName="Staff Contact List" urlName="staff-contact-list" path="-1,1085" isDoc="" nodeType="1084" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1083" nodeTypeAlias="staffContactList" isPublished="true">
    <pageTitle><![CDATA[Staff contact list information page ]]></pageTitle>
  </staffContactList>
  <staffDetailInfo id="1086" key="cb4727c7-5021-4d37-9070-946c26f01405" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-07-20T13:45:40" updateDate="2018-07-20T13:45:40" nodeName="Staff Detail Info" urlName="staff-detail-info" path="-1,1086" isDoc="" nodeType="1080" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1079" nodeTypeAlias="staffDetailInfo" isPublished="true">
    <pageTitle><![CDATA[Staff detail information page]]></pageTitle>
  </staffDetailInfo>
  <updateStaffInfo id="1089" key="89f33215-fc9c-4621-8abf-ea5b678fbf47" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-07-20T14:57:46" updateDate="2018-07-20T14:57:46" nodeName="Update staff info" urlName="update-staff-info" path="-1,1089" isDoc="" nodeType="1088" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1087" nodeTypeAlias="updateStaffInfo" isPublished="true">
    <pageTitle><![CDATA[Update staff information]]></pageTitle>
  </updateStaffInfo>
  <calendar id="1092" key="8618ea89-5052-4cd0-8c81-c9f8a83a5395" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-07-23T08:44:04" updateDate="2018-07-23T08:44:04" nodeName="Forte Calendar" urlName="forte-calendar" path="-1,1092" isDoc="" nodeType="1091" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1090" nodeTypeAlias="calendar" isPublished="true">
    <pageTitle><![CDATA[Calendar]]></pageTitle>
  </calendar>
  <errorPage id="1095" key="d445c6da-7300-4d77-85d8-95a93875c53e" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2018-07-23T14:02:34" updateDate="2018-07-23T14:03:53" nodeName="Error Page" urlName="error-page" path="-1,1095" isDoc="" nodeType="1094" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1093" nodeTypeAlias="errorPage" isPublished="true">
    <pageTitle><![CDATA[Error page]]></pageTitle>
  </errorPage>
  <helpDesk id="1098" key="838daeb8-752c-4aaf-a225-9e34106f5821" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2018-07-23T15:10:20" updateDate="2018-07-23T15:10:20" nodeName="Help Desk" urlName="help-desk" path="-1,1098" isDoc="" nodeType="1097" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1096" nodeTypeAlias="helpDesk" isPublished="true">
    <pageTitle><![CDATA[HELP DESK]]></pageTitle>
  </helpDesk>
  <underConstruction id="1101" key="38c8714d-f608-415b-a298-561fc696bcdf" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2018-07-23T15:48:14" updateDate="2018-07-23T15:48:14" nodeName="Under Construction" urlName="under-construction" path="-1,1101" isDoc="" nodeType="1100" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1099" nodeTypeAlias="underConstruction" isPublished="true">
    <pageTitle><![CDATA[Under Construction]]></pageTitle>
  </underConstruction>
  <forteBranch id="1104" key="8c43d089-ad94-4701-add5-e864103f1177" parentID="-1" level="1" creatorID="0" sortOrder="8" createDate="2018-07-24T09:01:37" updateDate="2018-07-24T09:01:37" nodeName="Forte Branch" urlName="forte-branch" path="-1,1104" isDoc="" nodeType="1103" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1102" nodeTypeAlias="forteBranch" isPublished="true">
    <pageTitle><![CDATA[Forte Branch]]></pageTitle>
  </forteBranch>
  <newsAndEvents id="1109" key="c537438d-f0be-4211-9e5e-fdae29674d0f" parentID="-1" level="1" creatorID="0" sortOrder="9" createDate="2018-07-31T13:28:07" updateDate="2018-07-31T13:28:07" nodeName="News and Events" urlName="news-and-events" path="-1,1109" isDoc="" nodeType="1108" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1107" nodeTypeAlias="newsAndEvents" isPublished="true">
    <pageTitle><![CDATA[News and Events]]></pageTitle>
  </newsAndEvents>
  <archiveLaw id="1118" key="ed8ac8ae-b5b8-4769-9b42-8245d0cefe2d" parentID="-1" level="1" creatorID="0" sortOrder="10" createDate="2018-07-31T16:42:02" updateDate="2018-07-31T16:42:02" nodeName="Archive Law" urlName="archive-law" path="-1,1118" isDoc="" nodeType="1117" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1116" nodeTypeAlias="archiveLaw" isPublished="true">
    <pageTitle><![CDATA[Archive Law]]></pageTitle>
  </archiveLaw>
  <archiveEconomic id="1122" key="9211e8a7-e6eb-4d77-b111-d7799ebf2420" parentID="-1" level="1" creatorID="0" sortOrder="11" createDate="2018-08-01T13:17:47" updateDate="2018-08-01T13:17:47" nodeName="Archive Economic" urlName="archive-economic" path="-1,1122" isDoc="" nodeType="1121" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1120" nodeTypeAlias="archiveEconomic" isPublished="true">
    <pageTitle><![CDATA[Archive Economic Page]]></pageTitle>
  </archiveEconomic>
  <archiveStatistic id="1129" key="e7550b61-3e6c-40b1-9c89-d36cbdc4339c" parentID="-1" level="1" creatorID="0" sortOrder="12" createDate="2018-08-01T14:29:43" updateDate="2018-08-01T14:29:43" nodeName="Archive Statistic" urlName="archive-statistic" path="-1,1129" isDoc="" nodeType="1128" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1127" nodeTypeAlias="archiveStatistic" isPublished="true">
    <pageTitle><![CDATA[Archive Statistic Page]]></pageTitle>
  </archiveStatistic>
  <archiveLeaflet id="1132" key="56aa24df-92bd-4c00-a9ea-02d73c30d79b" parentID="-1" level="1" creatorID="0" sortOrder="13" createDate="2018-08-01T15:12:56" updateDate="2018-08-01T15:12:56" nodeName="Archive Leaflet" urlName="archive-leaflet" path="-1,1132" isDoc="" nodeType="1131" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1130" nodeTypeAlias="archiveLeaflet" isPublished="true">
    <pageTitle><![CDATA[Archive Leaflet Page]]></pageTitle>
  </archiveLeaflet>
  <archiveClaimFormAndProcedure id="1135" key="f1f1c367-4240-45ab-a391-2cc102d17f5c" parentID="-1" level="1" creatorID="0" sortOrder="14" createDate="2018-08-02T15:47:49" updateDate="2018-08-02T15:47:49" nodeName="Archive Claim Form and Procedure" urlName="archive-claim-form-and-procedure" path="-1,1135" isDoc="" nodeType="1134" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1133" nodeTypeAlias="archiveClaimFormAndProcedure" isPublished="true">
    <pageTitle><![CDATA[Archive Claim Form and Procedure Page]]></pageTitle>
  </archiveClaimFormAndProcedure>
  <problemDiscussion id="1140" key="840550c1-8cfd-4c6d-969a-96029e1a76e2" parentID="-1" level="1" creatorID="0" sortOrder="15" createDate="2018-08-06T13:12:27" updateDate="2018-08-06T13:12:27" nodeName="Problem Discussion" urlName="problem-discussion" path="-1,1140" isDoc="" nodeType="1139" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1138" nodeTypeAlias="problemDiscussion" isPublished="true">
    <pageTitle><![CDATA[Problem Discussion page]]></pageTitle>
  </problemDiscussion>
  <carBooking id="1143" key="5f0ebbf8-903d-4efb-9c50-6df7c66bb2d3" parentID="-1" level="1" creatorID="1" sortOrder="16" createDate="2018-08-09T10:21:58" updateDate="2018-08-09T10:21:58" nodeName="Car Booking" urlName="car-booking" path="-1,1143" isDoc="" nodeType="1142" creatorName="Admin" writerName="Admin" writerID="1" template="1141" nodeTypeAlias="carBooking" isPublished="true">
    <pageTitle><![CDATA[Car booking page]]></pageTitle>
  </carBooking>
  <carBookingEntry id="1146" key="298b836e-392e-4f93-a42f-95ea134bd7c4" parentID="-1" level="1" creatorID="1" sortOrder="17" createDate="2018-08-09T11:33:51" updateDate="2018-08-09T11:33:51" nodeName="Car booking entry" urlName="car-booking-entry" path="-1,1146" isDoc="" nodeType="1145" creatorName="Admin" writerName="Admin" writerID="1" template="1144" nodeTypeAlias="carBookingEntry" isPublished="true">
    <pageTitle><![CDATA[Car booking entry Page]]></pageTitle>
  </carBookingEntry>
  <carBookingLogin id="1157" key="6224c5ba-7265-40ba-923e-f62fdbca2a0d" parentID="-1" level="1" creatorID="1" sortOrder="22" createDate="2018-08-09T11:54:17" updateDate="2018-08-15T13:33:28" nodeName="Car Booking Login" urlName="car-booking-login" path="-1,1157" isDoc="" nodeType="1156" creatorName="Admin" writerName="Admin" writerID="1" template="1155" nodeTypeAlias="carBookingLogin" isPublished="true">
    <pageTitle><![CDATA[Car Booking Login Page]]></pageTitle>
    <pageDescription><![CDATA[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop p]]></pageDescription>
  </carBookingLogin>
  <carBookingUpdate id="1169" key="6ca5390c-1441-419f-8ea0-9f708dec90dd" parentID="-1" level="1" creatorID="1" sortOrder="24" createDate="2018-08-09T16:15:33" updateDate="2018-08-09T16:15:33" nodeName="Car Booking Update" urlName="car-booking-update" path="-1,1169" isDoc="" nodeType="1163" creatorName="Admin" writerName="Admin" writerID="1" template="1162" nodeTypeAlias="carBookingUpdate" isPublished="true">
    <pageTitle><![CDATA[Car Booking Update Page]]></pageTitle>
  </carBookingUpdate>
  <carBookingMonthlyList id="1170" key="524921de-a933-46bc-8b45-17c1985ed20c" parentID="-1" level="1" creatorID="1" sortOrder="25" createDate="2018-08-09T16:15:56" updateDate="2018-08-09T16:15:56" nodeName="Car Booking Monthly List" urlName="car-booking-monthly-list" path="-1,1170" isDoc="" nodeType="1165" creatorName="Admin" writerName="Admin" writerID="1" template="1164" nodeTypeAlias="carBookingMonthlyList" isPublished="true">
    <pageTitle><![CDATA[Car Booking Monthly List Page]]></pageTitle>
  </carBookingMonthlyList>
  <carBookingOnActive id="1171" key="f90d40e7-fecc-469d-9768-8c86aa28b8e0" parentID="-1" level="1" creatorID="1" sortOrder="26" createDate="2018-08-09T16:16:20" updateDate="2018-08-09T16:16:20" nodeName="Car Booking On Active" urlName="car-booking-on-active" path="-1,1171" isDoc="" nodeType="1167" creatorName="Admin" writerName="Admin" writerID="1" template="1166" nodeTypeAlias="carBookingOnActive" isPublished="true">
    <pageTitle><![CDATA[Car Booking On Active]]></pageTitle>
  </carBookingOnActive>
  <carBookingWelcome id="1174" key="e4d50b54-919c-4382-83e9-b67253b4e785" parentID="-1" level="1" creatorID="1" sortOrder="27" createDate="2018-08-09T16:30:35" updateDate="2018-08-09T16:30:35" nodeName="Car Booking Welcome" urlName="car-booking-welcome" path="-1,1174" isDoc="" nodeType="1173" creatorName="Admin" writerName="Admin" writerID="1" template="1172" nodeTypeAlias="carBookingWelcome" isPublished="true">
    <pageTitle><![CDATA[Car Booking Welcome Page]]></pageTitle>
  </carBookingWelcome>
  <carBookingUpdateDetail id="1177" key="c8e0065a-5a7e-4c42-af55-45f39c1783a8" parentID="-1" level="1" creatorID="1" sortOrder="28" createDate="2018-08-13T10:22:14" updateDate="2018-08-13T10:22:14" nodeName="Car Booking Update Detail" urlName="car-booking-update-detail" path="-1,1177" isDoc="" nodeType="1176" creatorName="Admin" writerName="Admin" writerID="1" template="1175" nodeTypeAlias="carBookingUpdateDetail" isPublished="true">
    <pageTitle><![CDATA[Car Booking Update Detail Page]]></pageTitle>
  </carBookingUpdateDetail>
  <leavePlanLogin id="1191" key="a251127f-1e4a-4933-a32c-20c113f6ad1f" parentID="-1" level="1" creatorID="1" sortOrder="30" createDate="2018-08-16T13:44:23" updateDate="2018-08-16T14:04:11" nodeName="Leave Plan Login" urlName="leave-plan-login" path="-1,1191" isDoc="" nodeType="1188" creatorName="Admin" writerName="Admin" writerID="1" template="1187" nodeTypeAlias="leavePlanLogin" isPublished="true">
    <pageTitle><![CDATA[Leave Plan Login Page]]></pageTitle>
    <pageDescription><![CDATA[Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop p]]></pageDescription>
  </leavePlanLogin>
  <leavePlanPublicHolidayList id="1192" key="157bd7bd-fdd0-461a-92cf-45756a4d3d22" parentID="-1" level="1" creatorID="1" sortOrder="31" createDate="2018-08-16T13:45:36" updateDate="2018-08-16T13:45:52" nodeName="Leave Plan Public Holiday List" urlName="leave-plan-public-holiday-list" path="-1,1192" isDoc="" nodeType="1190" creatorName="Admin" writerName="Admin" writerID="1" template="1189" nodeTypeAlias="leavePlanPublicHolidayList" isPublished="true">
    <pageTitle><![CDATA[Leave Plan Public Holiday List Page]]></pageTitle>
  </leavePlanPublicHolidayList>
  <leavePlanApplicationWelcome id="1199" key="74267bac-7759-4520-a28f-369c54df6eb0" parentID="-1" level="1" creatorID="1" sortOrder="32" createDate="2018-08-16T14:30:37" updateDate="2018-08-16T14:30:39" nodeName="Leave Plan Application Welcome" urlName="leave-plan-application-welcome" path="-1,1199" isDoc="" nodeType="1198" creatorName="Admin" writerName="Admin" writerID="1" template="1197" nodeTypeAlias="leavePlanApplicationWelcome" isPublished="true">
    <pageTitle><![CDATA[Leave Plan Application Welcome Page]]></pageTitle>
  </leavePlanApplicationWelcome>
  <leavePlanListing id="1202" key="71630138-aff5-43db-b4b2-241dfb2ac38d" parentID="-1" level="1" creatorID="1" sortOrder="33" createDate="2018-08-16T14:39:55" updateDate="2018-08-16T14:41:15" nodeName="Leave Plan Listing" urlName="leave-plan-listing" path="-1,1202" isDoc="" nodeType="1201" creatorName="Admin" writerName="Admin" writerID="1" template="1200" nodeTypeAlias="leavePlanListing" isPublished="true">
    <pageTitle><![CDATA[Leave Plan Listing Page]]></pageTitle>
  </leavePlanListing>
  <leavePlanStaffPlanByDateList id="1209" key="c4825f11-6114-4535-9fc5-90da8aa8c519" parentID="-1" level="1" creatorID="1" sortOrder="34" createDate="2018-08-16T14:46:17" updateDate="2018-08-16T14:46:17" nodeName="Leave Plan Staff Plan By Date List" urlName="leave-plan-staff-plan-by-date-list" path="-1,1209" isDoc="" nodeType="1208" creatorName="Admin" writerName="Admin" writerID="1" template="1207" nodeTypeAlias="leavePlanStaffPlanByDateList" isPublished="true">
    <pageTitle><![CDATA[Leave Plan Staff Plan By Date List Page]]></pageTitle>
  </leavePlanStaffPlanByDateList>
  <leavePlanOnLeaveToday id="1212" key="a6093bfe-6404-404b-a197-6a6e746b7338" parentID="-1" level="1" creatorID="1" sortOrder="35" createDate="2018-08-16T14:48:00" updateDate="2018-08-16T14:48:00" nodeName="Leave Plan On Leave Today" urlName="leave-plan-on-leave-today" path="-1,1212" isDoc="" nodeType="1211" creatorName="Admin" writerName="Admin" writerID="1" template="1210" nodeTypeAlias="leavePlanOnLeaveToday" isPublished="true">
    <pageTitle><![CDATA[Leave Plan On Leave Today Page]]></pageTitle>
  </leavePlanOnLeaveToday>
  <leavePlaneOnLeaveTomorrow id="1215" key="fb4c0987-b43c-4bc9-a437-5d25e02fa685" parentID="-1" level="1" creatorID="1" sortOrder="36" createDate="2018-08-16T14:49:11" updateDate="2018-08-16T14:49:11" nodeName="Leave Plane On Leave Tomorrow" urlName="leave-plane-on-leave-tomorrow" path="-1,1215" isDoc="" nodeType="1214" creatorName="Admin" writerName="Admin" writerID="1" template="1213" nodeTypeAlias="leavePlaneOnLeaveTomorrow" isPublished="true">
    <pageTitle><![CDATA[Leave Plane On Leave Tomorrow Page]]></pageTitle>
  </leavePlaneOnLeaveTomorrow>
</root>