<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT problemDiscussion ANY>
<!ATTLIST problemDiscussion id ID #REQUIRED>
<!ELEMENT archiveClaimFormAndProcedure ANY>
<!ATTLIST archiveClaimFormAndProcedure id ID #REQUIRED>
<!ELEMENT archiveLeaflet ANY>
<!ATTLIST archiveLeaflet id ID #REQUIRED>
<!ELEMENT archiveStatistic ANY>
<!ATTLIST archiveStatistic id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT department ANY>
<!ATTLIST department id ID #REQUIRED>
<!ELEMENT application ANY>
<!ATTLIST application id ID #REQUIRED>
<!ELEMENT master1 ANY>
<!ATTLIST master1 id ID #REQUIRED>
<!ELEMENT staffDetailInfo ANY>
<!ATTLIST staffDetailInfo id ID #REQUIRED>
<!ELEMENT staffContactList ANY>
<!ATTLIST staffContactList id ID #REQUIRED>
<!ELEMENT updateStaffInfo ANY>
<!ATTLIST updateStaffInfo id ID #REQUIRED>
<!ELEMENT calendar ANY>
<!ATTLIST calendar id ID #REQUIRED>
<!ELEMENT errorPage ANY>
<!ATTLIST errorPage id ID #REQUIRED>
<!ELEMENT helpDesk ANY>
<!ATTLIST helpDesk id ID #REQUIRED>
<!ELEMENT underConstruction ANY>
<!ATTLIST underConstruction id ID #REQUIRED>
<!ELEMENT forteBranch ANY>
<!ATTLIST forteBranch id ID #REQUIRED>
<!ELEMENT newsAndEvents ANY>
<!ATTLIST newsAndEvents id ID #REQUIRED>
<!ELEMENT archiveLaw ANY>
<!ATTLIST archiveLaw id ID #REQUIRED>
<!ELEMENT archiveEconomic ANY>
<!ATTLIST archiveEconomic id ID #REQUIRED>
]>
<root id="-1">
  <home id="1068" key="756b7f76-7e83-4aa2-8dbd-e27b7dd30d68" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-19T13:34:20" updateDate="2018-07-20T10:38:48" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1063" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1062" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Welcome to Forte Insurance]]></pageTitle>
  </home>
  <staffContactList id="1085" key="905c6c98-b843-4cc6-b105-7bd6198eb6e8" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-07-20T13:41:13" updateDate="2018-07-20T13:41:13" nodeName="Staff Contact List" urlName="staff-contact-list" path="-1,1085" isDoc="" nodeType="1084" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1083" nodeTypeAlias="staffContactList" isPublished="true">
    <pageTitle><![CDATA[Staff contact list information page ]]></pageTitle>
  </staffContactList>
  <staffDetailInfo id="1086" key="cb4727c7-5021-4d37-9070-946c26f01405" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-07-20T13:45:40" updateDate="2018-07-20T13:45:40" nodeName="Staff Detail Info" urlName="staff-detail-info" path="-1,1086" isDoc="" nodeType="1080" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1079" nodeTypeAlias="staffDetailInfo" isPublished="true">
    <pageTitle><![CDATA[Staff detail information page]]></pageTitle>
  </staffDetailInfo>
  <updateStaffInfo id="1089" key="89f33215-fc9c-4621-8abf-ea5b678fbf47" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-07-20T14:57:46" updateDate="2018-07-20T14:57:46" nodeName="Update staff info" urlName="update-staff-info" path="-1,1089" isDoc="" nodeType="1088" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1087" nodeTypeAlias="updateStaffInfo" isPublished="true">
    <pageTitle><![CDATA[Update staff information]]></pageTitle>
  </updateStaffInfo>
  <calendar id="1092" key="8618ea89-5052-4cd0-8c81-c9f8a83a5395" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-07-23T08:44:04" updateDate="2018-07-23T08:44:04" nodeName="Forte Calendar" urlName="forte-calendar" path="-1,1092" isDoc="" nodeType="1091" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1090" nodeTypeAlias="calendar" isPublished="true">
    <pageTitle><![CDATA[Calendar]]></pageTitle>
  </calendar>
  <errorPage id="1095" key="d445c6da-7300-4d77-85d8-95a93875c53e" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2018-07-23T14:02:34" updateDate="2018-07-23T14:03:53" nodeName="Error Page" urlName="error-page" path="-1,1095" isDoc="" nodeType="1094" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1093" nodeTypeAlias="errorPage" isPublished="true">
    <pageTitle><![CDATA[Error page]]></pageTitle>
  </errorPage>
  <helpDesk id="1098" key="838daeb8-752c-4aaf-a225-9e34106f5821" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2018-07-23T15:10:20" updateDate="2018-07-23T15:10:20" nodeName="Help Desk" urlName="help-desk" path="-1,1098" isDoc="" nodeType="1097" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1096" nodeTypeAlias="helpDesk" isPublished="true">
    <pageTitle><![CDATA[HELP DESK]]></pageTitle>
  </helpDesk>
  <underConstruction id="1101" key="38c8714d-f608-415b-a298-561fc696bcdf" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2018-07-23T15:48:14" updateDate="2018-07-23T15:48:14" nodeName="Under Construction" urlName="under-construction" path="-1,1101" isDoc="" nodeType="1100" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1099" nodeTypeAlias="underConstruction" isPublished="true">
    <pageTitle><![CDATA[Under Construction]]></pageTitle>
  </underConstruction>
  <forteBranch id="1104" key="8c43d089-ad94-4701-add5-e864103f1177" parentID="-1" level="1" creatorID="0" sortOrder="8" createDate="2018-07-24T09:01:37" updateDate="2018-07-24T09:01:37" nodeName="Forte Branch" urlName="forte-branch" path="-1,1104" isDoc="" nodeType="1103" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1102" nodeTypeAlias="forteBranch" isPublished="true">
    <pageTitle><![CDATA[Forte Branch]]></pageTitle>
  </forteBranch>
  <newsAndEvents id="1109" key="c537438d-f0be-4211-9e5e-fdae29674d0f" parentID="-1" level="1" creatorID="0" sortOrder="9" createDate="2018-07-31T13:28:07" updateDate="2018-07-31T13:28:07" nodeName="News and Events" urlName="news-and-events" path="-1,1109" isDoc="" nodeType="1108" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1107" nodeTypeAlias="newsAndEvents" isPublished="true">
    <pageTitle><![CDATA[News and Events]]></pageTitle>
  </newsAndEvents>
  <archiveLaw id="1118" key="ed8ac8ae-b5b8-4769-9b42-8245d0cefe2d" parentID="-1" level="1" creatorID="0" sortOrder="10" createDate="2018-07-31T16:42:02" updateDate="2018-07-31T16:42:02" nodeName="Archive Law" urlName="archive-law" path="-1,1118" isDoc="" nodeType="1117" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1116" nodeTypeAlias="archiveLaw" isPublished="true">
    <pageTitle><![CDATA[Archive Law]]></pageTitle>
  </archiveLaw>
  <archiveEconomic id="1122" key="9211e8a7-e6eb-4d77-b111-d7799ebf2420" parentID="-1" level="1" creatorID="0" sortOrder="11" createDate="2018-08-01T13:17:47" updateDate="2018-08-01T13:17:47" nodeName="Archive Economic" urlName="archive-economic" path="-1,1122" isDoc="" nodeType="1121" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1120" nodeTypeAlias="archiveEconomic" isPublished="true">
    <pageTitle><![CDATA[Archive Economic Page]]></pageTitle>
  </archiveEconomic>
  <archiveStatistic id="1129" key="e7550b61-3e6c-40b1-9c89-d36cbdc4339c" parentID="-1" level="1" creatorID="0" sortOrder="12" createDate="2018-08-01T14:29:43" updateDate="2018-08-01T14:29:43" nodeName="Archive Statistic" urlName="archive-statistic" path="-1,1129" isDoc="" nodeType="1128" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1127" nodeTypeAlias="archiveStatistic" isPublished="true">
    <pageTitle><![CDATA[Archive Statistic Page]]></pageTitle>
  </archiveStatistic>
  <archiveLeaflet id="1132" key="56aa24df-92bd-4c00-a9ea-02d73c30d79b" parentID="-1" level="1" creatorID="0" sortOrder="13" createDate="2018-08-01T15:12:56" updateDate="2018-08-01T15:12:56" nodeName="Archive Leaflet" urlName="archive-leaflet" path="-1,1132" isDoc="" nodeType="1131" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1130" nodeTypeAlias="archiveLeaflet" isPublished="true">
    <pageTitle><![CDATA[Archive Leaflet Page]]></pageTitle>
  </archiveLeaflet>
  <archiveClaimFormAndProcedure id="1135" key="f1f1c367-4240-45ab-a391-2cc102d17f5c" parentID="-1" level="1" creatorID="0" sortOrder="14" createDate="2018-08-02T15:47:49" updateDate="2018-08-02T15:47:49" nodeName="Archive Claim Form and Procedure" urlName="archive-claim-form-and-procedure" path="-1,1135" isDoc="" nodeType="1134" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1133" nodeTypeAlias="archiveClaimFormAndProcedure" isPublished="true">
    <pageTitle><![CDATA[Archive Claim Form and Procedure Page]]></pageTitle>
  </archiveClaimFormAndProcedure>
  <problemDiscussion id="1140" key="840550c1-8cfd-4c6d-969a-96029e1a76e2" parentID="-1" level="1" creatorID="0" sortOrder="15" createDate="2018-08-06T13:12:27" updateDate="2018-08-06T13:12:27" nodeName="Problem Discussion" urlName="problem-discussion" path="-1,1140" isDoc="" nodeType="1139" creatorName="krychulsa" writerName="krychulsa" writerID="0" template="1138" nodeTypeAlias="problemDiscussion" isPublished="true">
    <pageTitle><![CDATA[Problem Discussion page]]></pageTitle>
  </problemDiscussion>
</root>